[2017-10-01 12:26] openspace42 opened #2 "Set up xu., xc., echo., pubsub., icr., $domain"

[2017-10-01 12:26] openspace42 opened #3 "Generate DH at end of install"

[2017-10-01 12:27] openspace42 opened #4 "Change sleeps with press to continue"

[2017-10-05 11:41] #4 closed, assigned to nobody

[2017-10-05 11:41] openspace42 commented on #4
solved

[2017-10-05 11:41] openspace42 commented on #3
solved

[2017-10-05 11:41] #3 closed, assigned to nobody

[2017-10-05 11:42] openspace42 commented on #2
solved

[2017-10-05 11:42] #2 closed, assigned to nobody

[2017-10-05 11:43] openspace42 opened #5 "Fix pre-upgrade script to support ejabberd-18xx"

[2017-10-05 21:56] openspace42 commented on #5
solved by using repo in v0.4

[2017-10-05 21:56] #5 closed, assigned to nobody

[2017-10-12 21:50] openspace42 opened #8 "Fix hostname in ejabberd welcome message"

[2017-10-14 18:03] nordurljosahvida opened #10 "Warn of massive deletion when changing domains"

[2017-10-14 18:04] nordurljosahvida opened #11 "Fix DNS checks on functional subdomains"

[2017-10-18 20:36] openspace42 opened #14 "SSLH doesn't handle non-c2s services"

[2017-10-18 22:26] openspace42 commented on #11
fixed

[2017-10-18 22:26] #11 closed, assigned to nobody

[2017-10-20 16:37] Madji opened #15 "Bad"
aenigma/aenigma/installer-v0.4: line 670: dig: command not found

and requests of utilities which may or may not be on the server, but they are not put together with fail2ban, ufw, and other

[2017-10-25 20:47] nordurljosahvida commented on #15
@Madji Hi there! Thanks for trying aenigma out.
I've just published v0.42, give it a try, it has tons of cool new stuff ;]
All utilities you mentioned [except for dig] are installed in [DFBS](https://github.com/nikksno/Debian-First-Boot-Setup/), which is a requirement for the installation of aenigma.
I'm fixing the dig problem right now.
Thanks for the help!

[2017-10-25 21:24] nordurljosahvida commented on #15
@Madji I've just added the dependency install for dig [dnsutils] and ufw [in case the user skipped installation in the DFBS]. Let me know if it works for you and your OS and version! ;]

[2017-10-25 21:26] openspace42 commented on #8
Fixed

[2017-10-25 21:26] #8 closed, assigned to nobody

[2017-10-25 21:29] nordurljosahvida commented on #14
Waiting for https://github.com/yrutschle/sslh/issues/140

[2017-10-25 21:29] nordurljosahvida commented on #10
Thinking of solving it with a managed list of hosted domains that is persistent between installs. Will update when I have time to look into this.

[2017-10-28 14:11] #15 closed, assigned to nordurljosahvida

[2017-11-01 12:31] #10 closed, assigned to nordurljosahvida

[2017-11-02 11:28] openspace42 opened #16 "Implement autobackup + backup/restore feature"

[2017-11-02 16:43] nordurljosahvida opened #18 "Skip ee LE beta prompt"

[2017-11-02 16:43] nordurljosahvida commented on #18
Fixed in v0.45

[2017-11-02 16:43] #18 closed, assigned to nobody

[2017-11-03 17:44] openspace42 opened #19 "Ask ee not to return an error if site already exists or already has LE active"
To remove error bypass with `|| true` in case site creation or LE update actually fails

[2017-11-05 14:57] openspace42 opened #20 "Prevent version rollback during install"

[2017-11-10 19:35] openspace42 commented on #14
Solved in v0.45

[2017-11-10 19:35] #14 closed, assigned to nordurljosahvida

[2017-11-10 19:35] openspace42 commented on #20
Solved in v0.45

[2017-11-10 19:35] #20 closed, assigned to nobody

[2017-11-17 03:00] openspace42 commented on #16
Implemented in v0.45

[2017-11-17 03:00] #16 closed, assigned to nordurljosahvida

[2017-11-17 03:00] openspace42 opened #21 "Enable custom backup file and validate all backup files"

[2017-11-17 16:16] openspace42 opened #22 "Ask for old S3 key if restore indication is given on install"

[2017-11-17 17:04] openspace42 opened #23 "Suggest adding CNAMEs for XMPP records instead of A/AAAA"

[2017-11-18 12:45] openspace42 commented on #22
Added in v0.45

[2017-11-18 12:45] #22 closed, assigned to nobody

[2017-11-18 14:19] #23 closed, assigned to nobody

[2017-11-18 14:20] openspace42 commented on #23
Fixed in v0.45

[2017-11-18 14:41] openspace42 opened #24 "Rework DNS validation to avoid double SRV record check"

[2017-11-19 15:49] openspace42 commented on #21
Fixed

[2017-11-19 15:49] #21 closed, assigned to nobody

[2017-11-20 09:26] openspace42 opened #25 "Alert of custom settings loss on install rerun and prompt for backup"

[2017-11-20 09:27] openspace42 opened #26 "Check S3 for working connection"

[2017-11-20 13:04] #25 closed, assigned to nobody

[2017-11-20 14:10] openspace42 commented on #26
Fixed

[2017-11-20 14:10] #26 closed, assigned to nobody

[2017-11-20 16:02] nordurljosahvida commented on #19
No answers yet from http://community.rtcamp.com/t/fail-silently-if-requested-action-is-already-satisfied/9762/3

[2017-11-20 16:02] #19 closed, assigned to nobody

[2017-11-23 08:41] nordurljosahvida opened #27 "Shellcheck and SYN cookie protection"
https://github.com/Kickball/awesome-selfhosted/pull/1213#issuecomment-346305186

[2017-11-24 09:56] thomaslule opened #28 "the logo looks like a nazi symbol"
Hi,

The logo looks very much like a nazi symbol and there is no understable reason for that.

[2017-11-24 13:41] quexten commented on #28
![fbchhuv](https://user-images.githubusercontent.com/11866552/33212928-7a38e992-d125-11e7-82ff-8a511232d022.png)

Just changing 2 lines makes the first letter actually represent the characters 'A', 'E' and less controversial. I recommend changing this logo aswell.

[2017-11-24 16:23] joselitosn commented on #28
Æ - https://en.wikipedia.org/wiki/%C3%86
卍 - https://en.wikipedia.org/wiki/Swastika

[2017-11-24 18:27] quexten commented on #28
I mean in the end it's up to you what logo symbol you use. But the swastika is heavily stigmatized, and might send some unintended signals. Just my opinion. From the first paragraph of the wikipedia article joselitosn linked:

[2017-11-24 18:44] nordurljosahvida commented on #28
Thanks guys, I appreciate the concern and the constructive criticism. Thanks for taking the time to redesign it @Quexten ;] It's actually somewhat intentional since I wanted to be as minimal about the logo as possible and kind of appreciate the slight provocation behind it, as it's actually a [sauwasticka](https://en.wikipedia.org/wiki/Sauwastika), it means something entirely different, and [this]

[2017-11-24 23:22] thomaslule commented on #28
I think that maintaining a sort of "am I a nazi?" ambiguity (by keeping a symbol close to nazi imagery associated with the name of a machine used by the nazis) is neither funny nor provocative, but extremely offensive.

[2017-11-25 14:17] nordurljosahvida commented on #28
As much as I appreciate you concern, if you still think there's any kind of ambiguity going on, I think you're intentionally looking for it, and by now you should probably already know how much I care about "people getting offended" especially when they're doing it all by themselves, but, in any event, you'll be happy to know that the community has voted, and although they agree with me, we also a

[2017-11-25 14:17] #28 closed, assigned to nobody

[2017-11-28 23:58] spoctoss opened #29 "unbound variable - SSH_CLIENT"
Not sure if I'm just doing something wrong but can't seem to get this working.

Initiating installer...

./aenigma/install.sh: line 53: SSH_CLIENT: unbound variable

[2017-11-30 01:40] mcat-ee commented on #29
Although this isn't a great solution, I executed a deployment by removing the IF/ELSE block starting on line 53.

[2017-11-30 13:40] nordurljosahvida commented on #29
Hi! Sorry for the late reply! Are you running ubuntu 16? Are you using screen? Any other relevant things to know?

[2017-11-30 14:13] nordurljosahvida commented on #29
@kylesmith63 @mcat-ee I just published a fix. If you have three minutes, please try it out and let me know if it works! [aenigma is 100% idempotent, you can run the installer as many times as you like and it will cause no harm at all ;]
Thanks for your help!

[2017-12-01 17:03] ueberbiss opened #30 "Job for sslh.service failed because the control process exited with error code"
The sslh service fails after easyengine installation and the whole process fails. I cloned the latest version.

I run Ubuntu 16.04 on vultr.com.

systemctl status sslh.service shows the following:
[code]
Any assistance would be greatly appreaciated.

[2017-12-01 17:18] nordurljosahvida commented on #30
Hi there! It appears something is already listening on port 443 bound to localhost. Is this a clean machine or do you have other services running on it already? [webservers, etc...]

[2017-12-01 18:00] ueberbiss commented on #30
It is a clean machine, but from what I can gather, nginx already listens on port 443, from the easyengine installation.

[2017-12-01 22:25] nordurljosahvida commented on #30
Can you execute these commands on that machine please?

nslookup [yourhostname]
nslookup [yourhostname] 8.8.8.8
netstat -lntu

[2017-12-02 12:53] nordurljosahvida commented on #30
@ueberbiss I've updated the SSLH install part so that it specifies your machine's IPv4 and IPv6 [if available] directly instead of specifying your hostname and letting SSLH determine your public address[es]. I think there's something strange going on with your PTR record or something DNS related that's tricking SSLH into thinking your hostname actually resolves to localhost [at least on your machi

[2017-12-02 21:25] ueberbiss commented on #30
That works, thank you very much.

[2017-12-02 21:25] #30 closed, assigned to nobody

[2017-12-03 08:11] nordurljosahvida commented on #30
@ueberbiss very good, thanks for your feedback!

[2017-12-12 21:54] nordurljosahvida commented on #24
Fixed in v0.46

[2017-12-12 21:54] #24 closed, assigned to nobody

[2017-12-12 21:54] nordurljosahvida commented on #29
Closing for now. Let me know if you still need any help.

[2017-12-12 21:54] #29 closed, assigned to nobody

[2017-12-14 14:50] #27 closed, assigned to nobody

[2017-12-18 19:07] spoctoss commented on #29
@nikksno sorry for late response I'll give it a shot and let you know

[2017-12-19 08:38] nordurljosahvida commented on #29
@kylesmith63 no problem, thank you.

[2017-12-19 18:52] spoctoss commented on #29
@nikksno all working now thanks

[2017-12-29 15:36] nordurljosahvida commented on #29
@kylesmith63 very good, please remember to send some feedback if you can! ;]

[2018-01-15 22:07] nordurljosahvida opened #31 "Implement LE post-renewal-hook to copy renewed certs to /etc/ssl/aenigma"

[2018-01-15 22:09] nordurljosahvida opened #32 "Fix bootstrap-restore"
1. Ask for backups passphrase in case of S3
2. Don't backup as there is nothing here and by the way ejabberdctl fails

[2018-03-18 20:06] openspace42 commented on #32
Fixed in v0.5.1

[2018-03-18 20:06] #32 closed, assigned to nobody

[2018-06-03 17:36] nordurljosahvida commented on #31
Fixed in v0.5.9

[2018-06-03 17:36] #31 closed, assigned to nobody

[2018-07-20 14:23] nordurljosahvida opened #33 "Clusterization"
[This post is relative to the "clusterize" branch]

**Missing steps for clusterization:**

- Ask if this is the primary or a secondary node [done]
- Centralize secondary nodes backup [only of uploads directory] on primary server.
- Push .erlang.cookie from primary node
- Create nodes list on primary node and maintain /etc/hosts snippet, push it to secondary nodes
- Run `ufw allow from <xxx.xxx.xxx

[2018-11-05 15:10] nordurljosahvida commented on #33
Fixed in v0.6

[2018-11-05 15:10] #33 closed, assigned to nobody

[2018-12-11 20:09] lukateras opened #34 "Website is down"
http://aenigma.xyz leads to a Nginx setup page, https://aenigma.xyz leads to Mastodon instance.

[2018-12-12 06:48] lukateras opened #35 "Enforce end-to-end encryption"
It would be great if this were to enforce end-to-end encryption (or at least, provide it as an install-time option). Most users are going to deploy XMPP servers to untrusted hardware, and unfortunately most clients default to and allow unencrypted messages.

[2018-12-13 00:02] nordurljosahvida commented on #35
@yegortimoshenko Thank you so much for the pull in prism-break, thrilled to be there.

I know about an option to *dis*able automatic OMEMO in conversations, but the new version of such client already defaults to OMEMO whenever the other end also supports it.

Other clients have massive issues with OMEMO, chatsecure on iOS is extremely restrictive on new key appearances and hardly ever works with c

[2018-12-13 00:04] nordurljosahvida commented on #34
@yegortimoshenko Very true, it's probably time I setup a landing page for the project, I've spent sleepless nights working on clusterization and now that that's complete I can focus on these sort of things. If you have any other tips and feedback please send them my way!

[2018-12-21 12:05] philhoefer opened #36 "Failure to install"
I'm trying to install aenigma on a fresh debian 9 installation.
On first run, the installation failed because rsync was missing.
After installing rsync, it now fails with:
[code]

[2018-12-21 12:09] nordurljosahvida commented on #36
Can you edit aenigma/install and add "set -x" to the second line, run the installer again with "bash aenigma/setup -pl" and post the full output?

Thanks

On December 21, 2018 1:05:34 PM GMT+01:00, "Phil Höfer" <notifications@github.com> wrote:

[2018-12-21 12:30] philhoefer commented on #36
Thanks for the quick answer.
The relevant part seems to be:
[code]
Is that sufficient or do you need the earlier parts too?

[2018-12-21 12:37] philhoefer commented on #36
Also, it seems running "bash aenigma/setup -pl" reverts the addition of "set -x" to aenigma/install.

[2018-12-21 16:07] nordurljosahvida commented on #36
Can you please:

`cat openspace42/dna/version_installed`
`cat openspace42/aenigma/conf/version/*`

Thanks

[2018-12-21 16:28] nordurljosahvida commented on #36
@philhoefer I've fixed the rsync issue btw, I thought I had encountered the same error on debian but later couldn't reproduce it and therefore thought it was an erroneous impression of mine that it didn't have rsync installed by default, but apparently it was true.

[2018-12-21 16:30] nordurljosahvida commented on #36
I also bumped the version of our functions framework **dna** to v0.3.4, which for some reason had slipped my mind. I think that should also fix the issue you were having. Theoretically `-p l` should only always use the locally modified version and never re-clone, but since it's a rather recent feature, maybe the old version of dna at some point down your workflow broke that behaviour.

[2018-12-21 16:46] philhoefer commented on #36
The displayed versions were v0.3.3 for dna and v0.6.3 for aenigma.
I retried installation with the new dna version just now and it works.
Thanks for the help, I'll open a new issue if I have any more problems.

[2018-12-21 16:46] #36 closed, assigned to nobody

[2018-12-21 16:55] nordurljosahvida commented on #36
Awesome thanks!

[2018-12-21 16:56] nordurljosahvida commented on #36
If you like the project, join us at os@xc.os.vu for openspace hackerspace in MIlano and aenigma@xc.os.vu for aenigma! And star the github repo if you'd like ;]

[2018-12-26 17:54] moppman commented on #35
On Prosody, there is a community module called "mod_e2e_policy" (https://modules.prosody.im).
Maybe there is something similar for ejabberd?

[2018-12-26 21:17] nordurljosahvida commented on #35
If ejabberd had an updated and complete documentation, we could probably know.

However, keep in mind that to my knowledge if a client doesn't automatically enable omemo it is [probably not a good idea to force it](https://gultsch.de/omemo_by_default.html)

I can confirm that the only client I've had a reliable experience on with omemo is conversations, chatsecure is really fiddly and dino for Lin

[2018-12-26 21:19] moppman commented on #35
converse.js (with libsignal) works pretty well.

[2018-12-26 21:29] nordurljosahvida commented on #35
Very cool I had never tried it out thanks!

I've read the module specs and I understand why it's important, but also as I've learned from Holger Weiß you really don't want to be cutting bridges with older clients, I agree with that.

Anyway, if we find such module on ejabberd, let's definitely look into what we can do.

On December 26, 2018 10:19:49 PM GMT+01:00, moppman <notifications@github.com>

[2019-01-14 16:49] nordurljosahvida opened #39 "dna download happens before project clone resulting in potentially incorrect dna version"

[2019-01-14 16:50] nordurljosahvida commented on #39
in cases of old downloads or upgrades

[2019-01-20 17:59] nordurljosahvida opened #40 "Fix ssh password request on first clusterization"
happened on debian

[2019-01-20 21:18] nordurljosahvida opened #41 "Prompt for multiple clusterization after primary node install in cluster mode"

[2019-01-20 21:19] nordurljosahvida commented on #40
fixed in v0.6.7

[2019-01-20 21:19] #40 closed, assigned to nobody

[2019-01-21 20:20] nordurljosahvida opened #42 "Skip dns checks when re-clusterizing existing nodes if none were added or changed"

[2019-01-21 20:21] nordurljosahvida opened #43 "disable backups on secondary nodes"

[2019-01-27 02:16] #41 closed, assigned to nobody

[2019-01-27 02:26] #42 closed, assigned to nobody

[2019-01-27 02:36] nordurljosahvida opened #44 "check if package is not already installed before install_dependency"

[2019-01-27 02:40] nordurljosahvida opened #45 "force mail notifications [re-]install"

[2019-01-27 03:19] nordurljosahvida commented on #45
Fixed in v0.3.8

[2019-01-27 03:19] #45 closed, assigned to nobody

[2019-01-27 03:20] nordurljosahvida commented on #44
not needed, apt doesn't take any extra time if every package requested is already installed [duh]

[2019-01-27 03:20] #44 closed, assigned to nobody

[2019-02-06 22:01] noerw opened #46 "installer error for letsencrypt"
[The installer tries to create certs for all files in `/etc/letsencrypt/live/`](https://github.com/openspace42/aenigma/blob/3b88f23/tools/aenigma-create-push-certs#L134).
On my Debian 9 system I already installed certbot previously, and this directory contained besides the domains an `README` file, and the installer fails thus with:

[code]

Also, the installation of certbot did complete, I had to

[2019-02-06 22:59] nordurljosahvida commented on #46
Interesting. Is a readme supposed to be in there? Going to look into it.
Join us on aenigma@xc.os.vu!

On February 6, 2019 23:01:30 Norwin <notifications@github.com> wrote:

[2019-02-06 23:22] nordurljosahvida commented on #46
@noerw just pushed a fix which should solve the issue. Test it out with `bash setup -db -pb`.

[2019-02-07 08:10] noerw commented on #46
yep, works as intended. thanks!

[2019-02-07 08:10] #46 closed, assigned to nobody

[2019-02-07 16:56] noerw opened #47 "list domains to register at beginning of setup"
having an overview in the beginning is friendlier than iteratively working through them during the DNS tests

[2019-02-08 20:33] jesusangelm commented on #46
Hi,
I'm having this error too, looks like `bash setup -db -pb` works, but now i'm not sure if this command is the correct for a first install.
When finish the script try to run ejabered but fail:

Now finally starting up ejabberd...

  Job for ejabberd.service failed because the control process exited with error code.
  See "systemctl status ejabberd.service" and "journalctl -xe" for details.

Thi

[2019-02-08 21:23] noerw commented on #46
@jesusangelm After instaling with the `README` issue, I had to fix the installation because ejabberd tries to load all files in `/etc/ssl/aenigma/` (`cert` section of `/etc/ejabberd/ejabberd.yml`).
This directory contained an empty `README.pem` file due to the issue in the op.
Remove it, and you should be good!

[2019-02-08 21:31] nordurljosahvida commented on #46
@jesusangelm the `bash aenigma/setup -db -pb` is always correct, as aenigma does not distinguish between first install and thousandth run / re-install / upgrade. It is simply specifying that aenigma should be installed in its bleeding-edge version and not the stable release, since the fix I applied to fix @noerw's issue hasn't been included in a stable release yet.

[2019-02-08 21:33] nordurljosahvida commented on #46
@jesusangelm If you executed with `-db -pb` everything should work alright. If you haven't, simply:
[code]
and then
[code]
If you still have issues after this:
[code]
and paste its output here.

[2019-02-08 21:34] nordurljosahvida commented on #46
I'll release a stable version now with the fix anyway. @noerw thanks for helping out!

[2019-02-08 21:36] nordurljosahvida commented on #47
received, added to the to-do list, thanks again for the tip

[2019-02-09 18:29] jesusangelm commented on #46
Thanks! @noerw @nordurljosahvida
that works now! ejabberd up and running!

[2019-02-09 18:41] nordurljosahvida commented on #46
@jesusangelm Awesome! Definitely join us at aenigma@xc.os.vu to keep up to date with aenigma releases and our small but growing community! Also please share aenigma around if you like it and consider [becoming a patreon supporter](https://www.patreon.com/aenigma_xmpp) of our project. Thanks!

[2019-02-09 23:00] #39 closed, assigned to nobody

[2019-02-09 23:35] nordurljosahvida commented on #39
Desired behaviour is now implemented:

![screenshot from 2019-02-10 00-31-20](https://user-images.githubusercontent.com/1408210/52527595-b2b99200-2ccb-11e9-954e-971e8c23842a.png)

[2019-03-01 12:22] rowie opened #48 "[SOLVED] Failed to start ejabberd"
Hi,

after running your awesome script ejabberd doesn´t came up. :-(

`root@ae01:~# service ejabberd status
● ejabberd.service - A distributed, fault-tolerant Jabber/XMPP server
   Loaded: loaded (/lib/systemd/system/ejabberd.service; enabled; vendor preset: enabled)
   Active: activating (start) since Fri 2019-03-01 13:19:15 CET; 1min 0s ago
     Docs: https://www.process-one.net/en/ejabberd/docs

[2019-03-01 12:26] rowie commented on #48
when i look at journalctl -xef i see this:

`-- Unit ejabberd.service has begun starting up.
Mar 01 13:23:58 ae01.rowie.at sh[6413]: Protocol 'inet_tcp': register/listen error: Protocol 'inet_tcp': register/listen error: Protocol 'inet_tcp': register/listen error: Protocol 'inet_tcp': register/listen error: Protocol 'inet_tcp': register/listen error: Protocol 'inet_tcp': register/listen error: Pro

[2019-03-01 12:54] nordurljosahvida commented on #48
Hi there!

[code]

and post the output here please

[2019-03-01 12:57] rowie commented on #48
root@ae01:~# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 9.8 (stretch)
Release:        9.8
Codename:       stretch

root@ae01:~# cat /var/log/ejabberd/error.org
cat: /var/log/ejabberd/error.org: No such file or directory

i only have a /var/log/ejabberd/www_access.log
should i touch a error.log?

[2019-03-02 19:14] rowie commented on #48
any news? :-)

[2019-03-02 21:47] nordurljosahvida commented on #48
Hi! I had replied to you on the xmpp group only. Please re-run the
installer and post the entire output here.

On March 2, 2019 20:14:40 Ronald Wiesinger <notifications@github.com> wrote:

[2019-03-04 16:36] nordurljosahvida opened #49 "Allow detected IPv4 to be overwritten"
Related to https://github.com/openspace42/aenigma/issues/48

[2019-03-05 10:02] rowie commented on #48
The problem only affects installation behind NAT!!

[2019-03-30 21:48] Bernd84 commented on #48
hi, i have the same problem,

Job for ejabberd.service failed because the control process exited with error code.
See "systemctl status ejabberd.service" and "journalctl -xe" for details.
root@ae01:~#

what do you mean with nat?
i'm not a developer...

i have a xigmanas with virtualbox and ubuntu 18.04 installed

virtualbox option is network bridge

domain from namecheap with "DynamicDNS ip4"

[2019-03-31 06:48] rowie commented on #48
hi bernd84,

you need a public ip cause its build to run on public servers without Network Address Translation between. ;-)
A small and cheap VPS is the best way.
Or a Routed ISP at home without NAT.
Hope this helps you!

br,
rowie

[2019-04-05 07:01] solus-hq opened #50 ""Bad Gateway" NGINX error"
This is what I'm receiving after trying to install on Ubuntu 18.04 LTS on 3 different cloud VPS providers...

[code]

[2019-04-05 07:04] rowie commented on #50
can you post the output from the install. script?

[2019-04-05 07:08] solus-hq commented on #50
[code]

[2019-04-05 07:17] rowie commented on #50
and the dns checks are fine?

[2019-04-05 07:21] solus-hq commented on #50
Yes, except IPv6, which is not configured. IPv4 checks went just fine.

The final part of the installer log is: (after generating DH)

[code]

[2019-04-05 07:22] rowie commented on #50
did you use the latest version?

[2019-04-05 07:23] solus-hq commented on #50
Well, I did exactly what the installation manual says, git cloned into current repository and ran `bash aenigma/setup`

nginx is up and running:

[code]

ejabberd is running as well according to htop

[2019-04-05 07:27] rowie commented on #50
and you try to open the side with your browser and the fqdn?
like https://example.com

[2019-04-05 07:29] solus-hq commented on #50
Yes, you may take a look at this screenshot.

<img width="1136" alt="Screen Shot 2019-04-05 at 10 28 54" src="https://user-images.githubusercontent.com/26515805/55611274-bc241f80-578d-11e9-9a72-8f473d2debd6.png">

<img width="427" alt="Screen Shot 2019-04-05 at 10 31 04" src="https://user-images.githubusercontent.com/26515805/55611370-f8f01680-578d-11e9-828e-dbf5c735c3bf.png">

[2019-04-05 07:35] rowie commented on #50
hehe, sorry .... to early in the morning. ;-)
i cant test it atm cause all my servers behing nat.
sorry, you have to wait for the dev.

[2019-04-05 07:42] solus-hq commented on #50
Thanks, I hope I can be useful to help with testing the installation process on various cloud providers (I have 4 popular providers available) and eliminate possible drawbacks.

[2019-04-05 07:54] rowie commented on #50
and what do you get without /admin  ... or with the port for the admin behind?
which ports are open?
netstat -tulpn

[2019-04-05 07:58] solus-hq commented on #50
[code]

[2019-04-05 08:05] rowie commented on #50
i cant test it atm cause all my servers behind nat firewalls .. :-(

[2019-04-05 14:44] solus-hq opened #51 "Ubuntu 18.04 root user authorization not possible using correct password"
Something is broken with password setup while installing Aenigma.

I did a complete and successful (according to installer log) setup, received a new root password, but unfortunately not my current password neither old one works. It seems I'm locked out of my VDS and have to reinstall it once again.

[code]

[2019-04-05 15:33] Bernd84 commented on #50
i have the same problem, xmpp works fine, but administration panel 502 Bad Gateway

[2019-04-05 16:29] solus-hq commented on #50
Hello! Have you seen this issue as well (is your server affected) ?

https://github.com/openspace42/aenigma/issues/51#issue-429791848

[2019-04-05 16:51] rowie commented on #51
Last time testing works witout any problems. i only use public key for root login ... and i dont let the script changing my root pwd.

hope the devs could fix the two problems sooon. :-)

[2019-04-05 17:01] rowie commented on #50
can you paste the /etc/sslh/sslh.cfg if exists?

maybe i am wrong but i think its the sslh.

[2019-04-05 18:36] Bernd84 commented on #50
yes, same here "Permission denied, please try again" with the new root password

[2019-04-06 06:05] solus-hq commented on #50
Seems the script is currently unusable =( If @nordurljosahvida could help us I would really appreciate any input regarding this problem.

[2019-04-06 07:42] nordurljosahvida commented on #51
@solus-hq by default `inception` [which is run by aenigma upon install] disables password-based SSH login, i should probably add a prompt so that the user is asked if they want to do it. If you saved the root password then you can likely access your VPS via your hosting provider's "emergency console" that goes directly to the machine VNC-style. Then enter root and your password and you should be i

[2019-04-06 07:43] nordurljosahvida commented on #50
Hi! @rowie thanks for all of the support you're providing to users! @solus-hq @Bernd84 can I access your machines to try and figure out what's wrong?

[2019-04-06 09:08] solus-hq commented on #50
@nordurljosahvida Yes, I can surely provide access to my VPS, where do I send access credentials? Is your XMPP ID publicly available?

[2019-04-07 09:33] nordurljosahvida commented on #50
Yes you can write me via mail and xmpp at my address nz at os dot vu

[2019-04-07 13:13] nordurljosahvida commented on #50
@solus-hq @Bernd84 fixed in v0.6.13. I had recently updated the port for the ejabberd webadmin interface but I had only updated it in the config file for ejabberd v19.02, not ejabberd v18.12.

Simply run `aenigma-upgrade` and the correct version will be installed [ @solus-hq you're already good, see my email for a few questions]

Please consider joining our group chat at xmpp:aenigma@xc.os.vu and

[2019-04-07 13:13] #50 closed, assigned to nobody

[2019-04-07 13:18] nordurljosahvida commented on #48
@Bernd84 sorry for the late reply have you solved this issue? As @rowie said you need a public IPv4 address to run aenigma, if you're not sure what this means or you need any help, simply send me an email with how to log in to your machine and I'll gladly take a look!

[2019-04-07 13:18] #48 closed, assigned to nobody

[2019-04-07 13:19] nordurljosahvida commented on #48
closing for now

[2019-04-07 18:29] solus-hq commented on #51
I confirm this, I should have read the installation script output attentively. It's actually written in interactive installer, but I think it should be somehow marked **bold** =)

[2019-04-07 18:29] #51 closed, assigned to nobody

[2019-04-08 07:18] nordurljosahvida commented on #51
@solus-hq @rowie I've update the inception function to ask before disallowing password-based logins. Thanks for the input.

[2019-04-08 07:21] nordurljosahvida commented on #35
@yegortimoshenko closing for now, feel free to reopen! Thanks again.

[2019-04-08 07:21] #35 closed, assigned to nobody

[2019-04-13 08:45] nordurljosahvida commented on #49
@rowie although this doesn't fix your issue of being behind NAT, I've updated the function that fetches the public IPv4 so that you can overwrite it if needed. Would you like to try it out?

If so `aenigma-upgrade -db -pb`

Thanks

[2019-04-13 08:45] #49 closed, assigned to nobody

[2019-04-13 08:46] nordurljosahvida opened #52 "Provision a Tor hidden service to make aenigma reachable within the Tor network"

[2019-04-14 17:30] nordurljosahvida opened #53 "Provision a converse.js instance to open up non-admin web access"

[2019-04-14 17:32] nordurljosahvida commented on #34
@yegortimoshenko working on this ;]

[2019-04-16 14:29] noerw opened #54 "certificate renewal fails"
It seems like the selected `manual` method of certbot does not allow for automated certificate renewal.
Or is something wrong with my setup and this method shouldn't be selected in the first place?

[2019-04-16 14:33] noerw opened #55 "certbot hangs on Debian 9"
when running `bash aenigma/setup`, I have to press ctrl+c after apt-get is done, otherwise it hangs indefinitely:
[code]

[2019-04-16 14:47] nordurljosahvida commented on #54
have you upgraded to the latest version? [0.6.14?] if not `aenigma-upgrade` as root.

[2019-04-16 14:48] nordurljosahvida commented on #55
please run with `bash aenigma/setup -ov` for verbose output and post output here

[2019-04-16 14:53] noerw commented on #55
I don't want to sanitize and paste the boatload of output here, so here's just the section around the `apt-get update`:

[code]

[2019-04-16 16:25] noerw commented on #55
Hm, now it did continue, while there was another `certbot` instance running.
So it might not be that apt-get does not quit, but that the next step does not start?

[2019-04-16 16:25] nordurljosahvida commented on #55
I just noticed a limitation of the `-ov` option.
Please:
[code]
write directly there on line 2:
[code]
and then run:
[code]

[2019-04-16 16:26] nordurljosahvida commented on #55
it might be, not sure

[2019-04-16 16:31] noerw opened #56 "Cannot change backup_local_storage_location"
running `aenigma-upgrade`, I get in a weird loop that can't be resolved:

[code]

[2019-04-16 16:47] noerw commented on #54
yes, i did. The content of `/etc/letsencrypt/renew/my.domain.conf` looks still like this:

[code]

**edit**: I'm starting to believe that #55 is the root cause for this

[2019-04-16 16:54] noerw commented on #55
ok, it seems to be `certbot` hanging:
[code]

[2019-04-16 16:58] noerw commented on #55
Starting `certbot` manually in bash works, it waits for a selection of the domains to operate on:
[code]

As you can see I have some other domains managed by certbot on that machine, could it be that this is the culprit?

Thanks for your fast support so far! (and I could totally understand that you don't want to support such custom setups)

[2019-04-16 18:22] nordurljosahvida commented on #56
Good catch. I'll fix it asap.

On April 16, 2019 18:31:51 Norwin <notifications@github.com> wrote:

[2019-04-16 18:26] nordurljosahvida commented on #55
Of course, very glad to help! No problem for custom setups, however I do
always recommend running aenigma only on a dedicated, freshly installed
machine with nothing else onto it.

Certbot probably hangs as it expects to be run interactively when there are
multiple certs provisioned?

We actually only run the certbot command to initialize the installation.
Let me check if we can run some more mini

[2019-04-16 18:27] nordurljosahvida commented on #54
Ok let's fix #55 first then

On April 16, 2019 18:47:19 Norwin <notifications@github.com> wrote:

[2019-04-17 11:19] nordurljosahvida opened #57 "Pass -ov argument to subscripts"

[2019-04-17 11:25] #56 closed, assigned to nobody

[2019-04-17 11:26] nordurljosahvida commented on #56
@noerw Fixed. Please try again with `aenigma-upgrade -db`

[2019-04-17 11:28] #55 closed, assigned to nobody

[2019-04-17 11:30] nordurljosahvida commented on #55
@noerw should be fixed. Please try again using `aenigma-upgrade -db` [this will make use of both fixes to this and the other issue you opened]

[2019-04-17 11:30] nordurljosahvida commented on #54
@noerw waiting for your feedback on #55 thanks again

[2019-04-17 11:49] noerw commented on #55
It works, thanks!

[2019-04-17 11:58] nordurljosahvida commented on #55
cool

[2019-04-18 11:18] nordurljosahvida commented on #54
@noerw any news on this?

[2019-04-18 13:24] noerw commented on #54
I can't test this atm, as a cert renewal is now due in 58 days.
However my certbot configuration still remains as described in 'manual' mode after rerunning `aenigma-upgrade` (see https://github.com/openspace42/aenigma/issues/54#issuecomment-483747650), so I don't see this issue as resolved.

I'm wondering, should certbot run the domain in manual verification in the first place? Or was this config

[2019-04-18 16:59] nordurljosahvida commented on #54
Just checked, yes manual is correct, this is my configuration:

[code]

aenigma will automatically check to renew certs every second day of the month

[2019-04-18 16:59] #54 closed, assigned to nobody

[2019-04-28 09:27] nordurljosahvida opened #58 "Change DNS propagation wording"
as we now check on authoritative NSs

[2019-04-28 09:28] nordurljosahvida commented on #53
Now available in v0.6.15

[2019-04-28 09:28] #53 closed, assigned to nordurljosahvida

[2019-04-28 09:28] nordurljosahvida commented on #52
Now available in v0.6.15

[2019-04-28 09:28] #52 closed, assigned to nordurljosahvida

[2019-04-29 08:17] palica opened #59 "Notes and bugs from LXD (container) install"
First of all, thank you for all your effort and great project.

I am installing this inside a container (LXD technology). Using debian/9 image from https://us.images.linuxcontainers.org/ installing on x86_64.

There were some hiccups with the installation inside container.

1. setup script didn't find lsb-release (apt install lsb-release)
2. setup ends with error about /etc/ssh/sshd_config not pre

[2019-04-29 09:08] nordurljosahvida commented on #59
Amazing thanks for the very valuable feedback. SO you have an *extremely* minimal debian install, I very much like that, however I had never tried an install on such a system. Could I kindly ask you for access into one of those containers? That would help me add the various fixes you listed at the right place in the installation script. Thanks!

[2019-04-29 09:38] palica commented on #59
do you have ipv6? can you access an ipv6 only system?

[2019-04-29 10:11] nordurljosahvida commented on #59
absolutely yes, this config keeps getting better and better! ;]

[2019-04-29 11:50] palica commented on #59
I meant: "Can you access an ipv6 only container if I would provide one for you?"

[2019-04-29 13:14] nordurljosahvida commented on #59
yes yes i understand, i meant: absolutely yes [i do have an IPv6 connection] and the comment was about your config. thanks! here's my pubkey:

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAIAQDRn5bu9AeKvVK4qKjaS1p0wLFA4rEXX69JgtaZ9EpBo1J8UMIiG3wVCfLifrJVvyIu+1LE6QmGxiwTygIPICpqdFq8eaeyKiC8jPmbxF0NE+w3DHIVEgtKin0aqkFr/2S2ad2Gm4ZKO/14C1/SAzkYn9egeyVWssvqq2HgqrZ1D/P57Z2os6Xm75DXsvZWjkYf/5Mwxg5qenJ2lIkhS2eEl4Yag

[2019-04-29 17:17] palica commented on #59
sent an email to nz.is

[2019-05-01 10:42] nordurljosahvida opened #60 "Disable all logging by default"

[2019-05-01 10:56] solus-hq commented on #60
@nordurljosahvida Hello! This is a great enhancement for privacy focused users. It would be as well great to ask users during the installation process if they want to store archived messages on the server or not.

[2019-05-01 12:28] solus-hq opened #61 "Ask users if they want to store message archives on the server (installer)"
It would be nice to have this option when installing aenigma on a fresh machine.

[2019-05-01 12:29] solus-hq commented on #60
@nordurljosahvida  Do you mean having all logging disabled on the server or just ejabberd logging? Keeping everything private would be an option for privacy conscious users.

[2019-05-01 13:05] solus-hq opened #62 "Installer bug: "unbound variable""
Below is the installer output on a fresh 18.04 machine, issue arises when I accidentally input a cyrillic letter.

[code]

[2019-05-01 13:09] solus-hq opened #63 "Ubuntu 18.04: cp: cannot create regular file '/etc/letsencrypt/renewal-hooks/post/aenigma-create-push-certs': No such file or directory"
Receiving an error right after successfully passing DNS checks:

`cp: cannot create regular file '/etc/letsencrypt/renewal-hooks/post/aenigma-create-push-certs': No such file or directory`

[2019-05-01 13:17] nordurljosahvida commented on #63
I'll check in about 20 minutes

On May 1, 2019 15:09:43 solus-hq <notifications@github.com> wrote:

[2019-05-01 13:26] solus-hq commented on #63
I could bypass this by running `bash openspace42/aenigma/tools/aenigma-create-push-certs` separately and then re-running main install script

[2019-05-01 13:41] nordurljosahvida commented on #62
Yeah it's a known issue that in some cases this error occurs when strange input is entered, didn't know about cyrillic letters. Thanks

[2019-05-01 13:41] nordurljosahvida commented on #62
I'll take a look

[2019-05-01 13:42] nordurljosahvida commented on #63
Good to know, was the first one a fresh install?

[2019-05-01 13:43] solus-hq commented on #63
Yes, the first one was on a fresh install, I tried running main install script 2 times.

[2019-05-01 13:47] nordurljosahvida commented on #63
ok

[2019-05-01 14:19] #63 closed, assigned to nobody

[2019-05-01 14:20] nordurljosahvida commented on #63
should be fixed, if you still haven't finished setting up and would like to help test, simply:

[code]

Thanks

[2019-05-01 14:27] #62 closed, assigned to nobody

[2019-05-01 14:28] nordurljosahvida commented on #62
should be fixed, please try again with `bash aenigma/setup -db -pb`

[2019-05-01 14:28] nordurljosahvida commented on #61
You're talking about mod_mam right?

[2019-05-01 14:28] solus-hq commented on #61
@nordurljosahvida Yes, that's correct!

[2019-05-01 14:30] nordurljosahvida commented on #60
I would apply it to everything, like they do in streisand, so that a seized server would have no [or as little as possible] personally identifiable information thereby guaranteeing deniability

[2019-05-01 14:30] nordurljosahvida commented on #61
Good point, this will need to be pushed to the entire cluster, will take some time to implement

[2019-05-08 17:43] solus-hq opened #64 "Creating a new account using TOR hidden service address fails"
Setup:

* tor running as service, port 9050 opened
* tested with gajim, psi+, pidgin

To reproduce:

I was trying to follow the steps from this manual:

https://creep.im/xmpp_tor/

1. Try creating a new account and specify aenigma instance TOR hidden service address as XMPP server address
2. Specify TOR localhost proxy as SOCKS5 proxy to connect to the server

Every client fails, connection fails.

[2019-05-11 20:38] nordurljosahvida opened #65 "Postgresql"
- [x] clusterize etcd
- [x] rewrite migration to account for patroni
- [x] check dba / roles / passwords
- [x] provision secure passwords for root roles

[2019-05-18 18:18] #65 closed, assigned to nordurljosahvida

[2019-05-19 09:08] kilo6eight opened #66 "SRV Record Not Working"
The configuration/setup says:

The | SRV | record | **5 1 5223 ae.mydomain.com.** | for DNS name | **_xmpps-client._tcp.mydomain.com** | still appears NOT to be registered.

On my domain control panel for SRV I have the following DEFAULT options:

Type: <many options>
Name: @
TTL: 900
Priority: 10
Weight: 0
Port: <empty>
Content: <empty>

I replace it with the following:

Type: SRV
Name: _xmpps-cl

[2019-05-19 09:12] nordurljosahvida commented on #66
Hi @kilo6eight ! can you PM me with your actual domain? nz at os dot vu

[2019-05-19 09:51] kilo6eight commented on #66
email sent

[2019-05-19 18:23] nordurljosahvida commented on #59
Looking into it now.

Issues list:

- [x] issue name (your suggested solution) [my implemented solution, please review and approve]

- [x] setup script didn't find lsb-release [(apt install lsb-release)]
- [x] setup ends with error about /etc/ssh/sshd_config not present (apt install ssh) [apt install openssh-server]
- [x] sudo package missing (apt install sudo) [remove residual sudo commands from

[2019-05-19 18:55] nordurljosahvida commented on #59
@palica replied to your email, I'd kindly need you to reset the container to perform further testing

[2019-05-20 04:36] solus-hq commented on #63
I've encountered this issue once again when doing a clean install, it shows up if DNS checks fail and I choose to `(e)xit all checks`

Once again, it can be fixed by running `bash openspace42/aenigma/tools/aenigma-create-push-certs` separately once DNS propagation is complete.

[2019-05-20 04:43] solus-hq opened #67 "Privacy flaw: connecting to TOR hidden service"
When trying to connect to aenigma instance via .onion service we always get an "incorrect certificate" error message which actually reveals REAL domain names pointing to our server making .onion usage useless in terms of anonymity.

As one can see on the screenshot attached, we're trying to connect to Converse.js via TOR and our domains are revealed which is unacceptable I think.

<img width="1106

[2019-05-20 04:44] solus-hq opened #68 "TOR: create new xmpp id, .onion <-> .onion routing, converse.js issues"
We can't create a new account and fetch registration form via self-hosted Converse.js instance

<img width="1106" alt="Screen Shot 2019-05-19 at 22 27 09" src="https://user-images.githubusercontent.com/26515805/57996977-0f022e00-7ad3-11e9-89b0-4bb5205e6422.png">

[2019-05-20 04:54] solus-hq opened #69 "Browser making requests to: cdn.conversejs.org"
I don't think it's good that when we're using self-hosted Converse instance our browser is making connections to `cdn.conversejs.org`. I think that "self-hosted" paradigm is violated here, why can't we just have a full copy of Converse on our server?

[2019-05-20 07:56] solus-hq opened #70 "Upgrading mnesia to postgresql failed"
When trying to upgrade via `aenigma-upgrade -db -pb` I'm getting the following output:

[code]

[2019-05-20 08:46] #70 closed, assigned to nobody

[2019-05-20 08:46] nordurljosahvida commented on #70
Fixed

[2019-05-20 09:07] nordurljosahvida commented on #69
@solus-hq that is exactly our same philosophy and that's the reason why we fully build converse locally [JC even closed an issue on their side we were encountering when building]. The fact is that then we also need to remember to find and replace lines inside index.html to actually *use* the resources we just built ;] That's why we have testers like you guys, thanks!

[2019-05-20 09:08] #69 closed, assigned to nobody

[2019-05-20 09:11] nordurljosahvida commented on #68
Interesting, haven't tried using converse over Tor yet. Are you trying to register an @your-clearnet-domain.tld account or a @your-onion-hostname.onion?

[2019-05-20 09:16] nordurljosahvida commented on #67
Yes I stumbled onto this earlier, I got lost thinking about any potential solutions. LE is still in early stages of thinking about supporting .onion I think, so we're going to have to self-sign here. I'll think about a potential solution later today.

[2019-05-20 09:29] solus-hq commented on #68
I'm trying to register via @my-onion-hostname.onion, sure. Just wanted to try a completely .onion solution

[2019-05-20 09:30] nordurljosahvida commented on #68
cool, let me look into that. Try completing the upgrade first, and if you could please confirm to me that "/etc/ejabberd/ejabberd.yml" contains your .onion hostname in the top part of the config.

[2019-05-20 09:50] nordurljosahvida commented on #63
@solus-hq were you performing this clean install with "-db -pb"? Because this should be fixed in bleeding edge.

[2019-05-20 10:36] solus-hq commented on #68
[code]

[2019-05-20 11:24] solus-hq commented on #63
Ooops, no, I was using stable version.

[2019-05-20 11:49] nordurljosahvida commented on #68
I think there was a general registrations issue on converse, I figured out how to use websocket instead of bosh, now it's 10x as fast, and registrations work, even for .onion domains.

[2019-05-20 11:50] nordurljosahvida commented on #68
@solus-hq let's get your upgrade complete and then you'll see your .onion domain will show up under ejabberd hosts

[2019-05-20 12:00] nordurljosahvida commented on #63
ok, good, i'm glad ;]

[2019-05-20 13:40] solus-hq commented on #67
Yes, I know they're not allowing anyone to issue .onion certificates right now. There are some commercial solutions requiring you to reveal your full identity to obtain an .onion certificate (absolute madness)

[2019-05-20 18:07] nordurljosahvida opened #71 "Implement self-signed wildcard cert for .onion HS"
Add one nginx config for each additional domain, plus .onion hostname, make .onion default_server to prevent domain leakage.

[2019-05-20 18:07] nordurljosahvida commented on #67
I'm 50% of the way fixing this with https://github.com/openspace42/aenigma/issues/71, will finish tomorrow and push a beta

[2019-05-21 10:30] nordurljosahvida commented on #67
Fixed, any connection matching $domain [nginx, ejabberd, etc] should match LE wildcard cert for $domain, any connection to $additional_domain_1 should match its respective LE wildcard cert, any request to .onion hostname should return its self signed wildcard cert, and any *other* connection, to any unconfigured domain, made to that same machine, should return the onion self signed cert in order t

[2019-05-21 10:30] #67 closed, assigned to nobody

[2019-05-21 10:30] #71 closed, assigned to nobody

[2019-05-21 10:30] nordurljosahvida commented on #71
Done

[2019-05-21 10:32] nordurljosahvida commented on #64
@solus-hq this should have been fixed back when I added .onion domain to ejabberd. Let's finish installing your server and re-open if needed.

[2019-05-21 10:32] #64 closed, assigned to nobody

[2019-05-21 12:21] solus-hq commented on #67
It is now fixed, can confirm

<img width="1112" alt="Screen Shot 2019-05-21 at 14 59 56" src="https://user-images.githubusercontent.com/26515805/58095593-0a756c80-7bdc-11e9-9962-74e7454f0b80.png">

[2019-05-21 12:23] solus-hq commented on #68
@nordurljosahvida can't test it after recent upgrade because .onion/xmpp won't open at all

<img width="1145" alt="Screen Shot 2019-05-21 at 15 00 21" src="https://user-images.githubusercontent.com/26515805/58095728-53c5bc00-7bdc-11e9-9e5d-ef0f3b65cb01.png">

[2019-05-21 14:16] nordurljosahvida commented on #68
@solus-hq works for me, try again now.

Also, I've made a small change to your converse so that it'll use websocket to ejabberd over tor, also to hide your domain, how cool is that? I'll implement this later today for everyone.

[2019-05-21 14:17] nordurljosahvida opened #72 "Use websocket over tor in converse.js"

[2019-05-22 08:35] solus-hq commented on #68
That's really cool!

[2019-05-22 08:38] solus-hq commented on #68
@nordurljosahvida But still, I can't seem to be able to create a new account via Converse.js,

1. Converse won't fetch registration form if I provide my .onion domain as a server to create an account with.
2. When I try to create a new account via Pidgin / Gajim, it won't fetch registration form as well.
3. Having created a new .onion user manually via ejabberd admin I can't login via Converse as

[2019-05-22 09:21] nordurljosahvida commented on #68
1, 3] are you trying from tor browser or from clearnet? Because I configured your converse.js to work only via tor for now, i'm working on splitting the two instances to make it work separately for clearnet and tor. It does work via tor browser right now for me.

2] are they connecting over tor or clearnet?

[2019-05-22 09:23] nordurljosahvida commented on #66
@kilo6eight hi! you should have my replies in your inbox, please check ;]

[2019-05-22 09:35] solus-hq commented on #68
Everything is done via Tor Browser.

To sum up:

1. I **can** access ejabberd admin via .onion domain in Tor Browser ✅
2. I **can** create a new .onion xmpp id in ejabberd admin ✅
3. I **can** login using an .onion xmpp id via pidgin, gajim, adium ✅
4. I **can't** create a new xmpp id in .onion domain via pidgin, gajim, adium ❌
5. I **can't** login via Converse in .onion domain via Tor Browser ❌
6

[2019-05-22 12:23] nordurljosahvida commented on #68
@solus-hq figured this out, when including a wss:// that has an invalid certificate the user's browser doesn't accept it and the connection is not made behind the scenes. Either the user manually visits the wss:// address changing it with https:// and accepts the invalid cert locally, or we find a solution here: https://github.com/conversejs/converse.js/issues/1583

[2019-05-23 17:49] solus-hq commented on #68
@nordurljosahvida updated the comment above

[2019-05-28 17:19] nordurljosahvida commented on #72
Fixed

[2019-05-28 17:19] #72 closed, assigned to nobody

[2019-05-29 18:12] solus-hq commented on #68
Performed some tests to see if we can chat with other .onion servers.

Setup:
* macOS
* Adium
* tor installed via brew and listening to 127.1:9050

Having successfully added 2 different xmpp ids from 2 different .onion service I wasn't able to send a message or start a chat between these ids. Adium is reporting an error.

<img width="538" alt="Screen Shot 2019-05-29 at 21 03 53" src="https://user-

[2019-06-01 10:15] nordurljosahvida commented on #68
@solus-hq any news?

[2019-06-01 16:32] nordurljosahvida commented on #61
implemented in latest beta. let me know if that satisfies this 100%.

[2019-06-01 16:33] nordurljosahvida commented on #60
Let's move this one to: https://github.com/openspace42/aenigma/issues/61

[2019-06-01 16:33] #60 closed, assigned to nordurljosahvida

[2019-06-01 16:33] nordurljosahvida commented on #59
will get back to you tomorrow ;]

[2019-06-01 16:33] nordurljosahvida commented on #66
will get back to you tomorrow sorry for the delay

[2019-06-03 19:00] solus-hq commented on #61
I might have missed something during recent update, will the `aenigma-upgrade -db -pb` script ask us if we want to turn off mod_mam completely? It would be advisable to clear old archives as well for all users and chatrooms.

[2019-06-04 06:42] nordurljosahvida commented on #61
still to implement that, good point, will do that today

[2019-06-06 08:15] #58 closed, assigned to nordurljosahvida

[2019-06-08 07:58] nordurljosahvida commented on #61
@solus-hq implemented, let me know if it works for you, thanks

[2019-06-08 07:58] nordurljosahvida commented on #68
@solus-hq I think this is fixed.

[2019-06-08 07:58] #68 closed, assigned to nobody

[2019-06-12 10:58] nordurljosahvida opened #74 "Make the installer log locally"

[2019-06-15 20:10] nordurljosahvida opened #75 "Function-ize create-push-certs [and other scripts]"
and make create-push-certs *not* restart ejabberd if ran from the installer as it's going to be restarted later anyway.

[2019-06-15 20:44] nordurljosahvida opened #76 "pingback secondary node installation completion to primary node"
to avoid concurrency issues when continuing installation on primary node as the secondary node is itself still finishing provisioning commands autonomously.

[2019-06-17 20:05] nordurljosahvida opened #77 "Prompt to allow etcd-cluster-reinstall to not shutdown patroni/ejabberd globally"
To avoid cluster-wide downtime, even though this is riskier ejabberd-wise.

[2019-06-17 20:16] nordurljosahvida opened #78 "Don't restart ejabberd so many times during install"
skip ejab restart on:
1. create-push-certs
2. loglevel_zero
3. mam_disabled

only restart in any event after dh_param

[2019-06-19 09:23] nordurljosahvida opened #79 "Implement -un to disable apt_full_upgrade during install"
In the event that the openssl-upgrade issue happens again in the future

[2019-06-20 16:58] nordurljosahvida opened #80 "Introduce version command"
for easy version retreival

[2019-06-24 12:38] #80 closed, assigned to nobody

[2019-06-24 12:49] #79 closed, assigned to nobody

[2019-06-24 14:47] #78 closed, assigned to nobody

[2019-06-30 21:29] #75 closed, assigned to nobody

[2019-07-02 18:49] Bernd84 opened #81 "/root/aenigma/functions: line 1614: updatedb: command not found"
hi, i have this error

Now enabling ejabberd...

/root/aenigma/functions: line 1614: updatedb: command not found

[2019-07-05 09:57] cybaru opened #82 "New Install on Ubuntu 18.04 -- Fails after domain configuration"
[code]

===INSTALLER QUITS===

The installer returns me to a commad prompt after this step. No error message is displayed.

[2019-07-08 08:54] solus-hq commented on #61
@nordurljosahvida It works and Conversations compliance tester is stating that MAM is disabled.

[2019-07-08 08:54] solus-hq commented on #82
@cybaru is it a multi-node setup?

[2019-07-08 09:05] nordurljosahvida commented on #61
Awesome thanks!

[2019-07-08 09:05] #61 closed, assigned to nobody

[2019-07-08 09:05] nordurljosahvida commented on #81
@Bernd84 Hi, sorry for the very late reply. Let me check.

[2019-07-08 09:13] nordurljosahvida commented on #81
@Bernd84 fixed, you can fix locally with:

`apt install mlocate` and re-running the install.

This will be fixed in next release.

Thanks!

[2019-07-08 09:13] #81 closed, assigned to nobody

[2019-07-08 09:16] nordurljosahvida commented on #82
@cybaru sorry for the late reply. @solus-hq thanks for looking into this.

can you re-run the installer as so: `bash aenigma/setup -ov` and share the output, even just after `Option | node_number | set to value | 01 |.`

Thanks

[2019-07-08 09:21] nordurljosahvida commented on #43
fixed in head, release will be in v0.7.2

[2019-07-08 09:21] #43 closed, assigned to nordurljosahvida

[2019-07-19 18:47] solus-hq opened #83 "Installer IPv4 display issue"
Every time I'm installing on a fresh machine installer asks me this question but never shows any IP address

`Is this the correct public IPv4 you'd like to use for this machine? (Y/n): y`

Then it shows the IP and asks if it's correct

`Is | 127.0.0.1 | correct? (Y/n/e[xit]) y`

I guess we don't need to ask users for excess confirmations without showing any information pertinent to question.

[2019-07-21 11:24] nordurljosahvida commented on #83
Had noticed this, now fixed, thanks

[2019-07-21 11:24] #83 closed, assigned to nobody

[2019-07-21 11:24] nordurljosahvida commented on #82
@cybaru any news?

[2019-07-21 12:28] nordurljosahvida commented on #76
Done

[2019-07-21 12:28] #76 closed, assigned to nobody

[2019-08-07 14:50] ghost commented on #66
re-running the setup a few times and i passed the SRV error

[2019-08-07 17:39] nordurljosahvida commented on #66
What record was giving you issues? All other SRVs were ok?

On August 7, 2019 16:51:05 bonmerx <notifications@github.com> wrote:

[2019-08-08 17:04] ghost commented on #66
I think both SRVs for 5222, 5223 ports. I cant remember well, the auto check didnt work, but rerunning setup passed it. After that it didnt build for the converse.js. I will maybe backup/restore and rerun the setup in the next days.

[2019-09-11 11:08] dancefrance opened #84 "Unable to specity top domin e.g example.co.uk"
Im unable to set the top level domin.The setup strip will let me set example.com but not if i try to set it to example.co.uk

[2019-09-13 08:17] solus-hq opened #85 "🔥LE certificate doesn't update itself and etcd fails to start after manual update 🔥"
As noticed on one of my servers, the LE certificate didn't update in time therefore resulting in "certificate expired" errors with clients connecting to the server.

I tried updating manually by running "aenigma-push-certs", everything went just fine and I got a NEW one certificate since I had to alter TXT DNS records for LE verification once again (it's and old LE bug or something as far as I rem

[2019-09-16 02:48] MamasLT opened #86 "SSH issue and chown invalid group problem"
Hello. Firstly the script asked me to enter an SSH key of my local workstation. I had no idea what to enter and where to get that SSH key. Would be nice to have more info on this.
I skipped this and SSH hardening options and continued.
Got stuck here (using updated Ubuntu 18.04):
"Now creating /opt/ejabberd/ directory...

Finished creating /opt/ejabberd/ directory.

Now setting permissions...

cho

[2019-09-16 08:22] solus-hq commented on #85
Another server, same issue

[code]

[2019-09-16 08:29] solus-hq commented on #85
Regarding LE upgrade issue on both servers

[code]

[2019-09-17 17:43] solus-hq commented on #85
It seems that @nordurljosahvida has issues accessing own domain name, hope everything restores...

[2019-11-23 15:52] noerw opened #87 "Plenty issues with clean install on Debian 9 (0.7.1)"
Due to a selfimposed fuckup I had to do a fresh install yesterday.
I had several issues with the installer, which I iteratively fixed in a long evening:

- [ ] (1) `dna-enable_debian_testing_repo` makes a faulty apt configuration resulting in failing apt fetches ("404"):     If you check http://security.debian.org/dists/ you'll note that `testing/updates` does not exist on the server, replace that

[2019-11-23 15:58] noerw opened #88 "Document how to debug"
As the installer always fetches `dna` and `aenigma` on each run of `setup`, it's hard to develop quick fixes. The workaround is to run `setup` with `-dl -pl`, which uses the already fetched versions of the components, thus respects local changes.

I found this after studying the scripts, would be nice to see this documented somewhere.

edit: Also document `-ov` for debug output?

[2019-11-23 16:00] noerw opened #89 "single-node installation installs cluster tooling"
Not sure if this is intended (v0.7.1):
My single-node installation also installed `etcd`, `patroni`, `postgres`, which only seem to be useful in a HA-deployment.

[2019-11-25 13:38] noerw opened #90 "mod_register not properly configured"
aenigma v0.7.1:

- advertised captcha host is set to 127.0.0.1 (value `captcha_host` in `ejabberd.yml`)
- nginx doesnt expose `/captcha`. (i copied the `/admin` proxy blog for `/captcha` in the nginx config)

With these modifications I still can't register accounts, but this might also be a client issue (using dino)

[2019-12-20 13:20] solus-hq commented on #89
@nordurljosahvida seems to be quite busy and with lack of donations for these projects there's not much to be done unfortunately.

[2019-12-24 05:40] nordurljosahvida commented on #87
@noerw thanks for the input! i'll look into it this week, asap.

[2019-12-24 05:43] nordurljosahvida commented on #88
@noerw correct. `-dl -pl` sources local versions of files even if modified by the user, but in the cloned dir `~/aenigma` and not in the actual installation dir `~/openspace42/aenigma`, and upon installation completion the cloned dir gets removed. Everything has to be documented, but it would be well worth it because this is all part of the underlying frameworks we're developing which would direct

[2019-12-24 05:44] nordurljosahvida commented on #90
strange, captcha had been thoroughly tested, let me test with dino

[2019-12-24 05:45] nordurljosahvida commented on #89
@noerw this is intended yes so that A] we only need to develop one logic and one script and B] so that clusterization is easy to implement on an existing install. I'm looking into cocroachDB anyways, which could be the next logical step.

[2019-12-24 05:45] #89 closed, assigned to nobody

[2019-12-24 05:48] nordurljosahvida commented on #89
@solus-hq true, thanks for checking in. The project has been dormant for the past 3 months as I have been working around the clock to get our new 3d printing shop up and running in the university area here in Milano, Italy, and because of this, and the fact that interest in the project seemed very limited, I had to keep aenigma on the back burner for a little bit. Now however, issues coming in, an

[2019-12-24 06:30] nordurljosahvida commented on #86
Hi @MamasLT. Truly sorry for not getting back to you earlier. Everything should be more detailed and documented, but getting things to work is already really time consuming as you might expect. I'll work on a better description asap. Is your machine available for me to log in and take a look?

[2019-12-25 21:53] nordurljosahvida commented on #84
@dancefrance sorry for the very late reply. good point, we need an actual domain parser script. will look into it.

[2020-01-03 12:57] jesusangelm commented on #87
i have similar issue, a month ago i tried to install aenigma on a Debian 9 VPS, but finishing the install, the script configure some debian 10 repo and this run the upgrade. As aenigma does not support Debian 10, the install not continue.

[2020-03-12 13:25] solus-hq opened #91 "Project status and contacts"
@nordurljosahvida I was not able to contact you via your email or XMPP, are these still working?

[2020-03-12 13:39] nordurljosahvida commented on #91
Hi! Sorry, i was going to get back to you but things have been crazy at work.

How are things?

Thank you so much for reaching out.

I am literally right now opening the ejabberd blog to see what i've missed. The virus situation in italy is slowing everything down work-wise and we've had to temporarily close the store down until things are resolved.

So - naturally - I'm taking a look at the proje

[2020-03-12 18:24] #91 closed, assigned to nobody

[2020-03-24 20:08] andrew-ld opened #92 ".well-known directory is still accessible"
wopsie opsie you have wrongly typed "allow all" instead of "deny all"

https://github.com/openspace42/aenigma/blob/d0c5ef1b0580ccd3584c40b5acc49bf6df969410/conf/nginx/onion#L85-L87

https://github.com/openspace42/aenigma/blob/d0c5ef1b0580ccd3584c40b5acc49bf6df969410/conf/nginx/domain#L86-L88

https://github.com/openspace42/aenigma/blob/d0c5ef1b0580ccd3584c40b5acc49bf6df969410/conf/nginx/additional

[2020-03-30 19:34] hawkoftheeye opened #93 "Installation script fails due to 403 error while downloading ejabberb"
Installation script currently fails due to a 403 being returned while attempting to download `ejabberd`.

![image](https://user-images.githubusercontent.com/2341282/77953415-28643100-72c5-11ea-8359-619acd66b9af.png)

First encountered it yesterday afternoon, and have retried a number of times since.
Appreciate this is probably an issue on the external server, but thought I'd raise it.

Thanks

[2020-05-22 06:48] naviabbot opened #94 "Error while installing dependencies"
OS - Debian 9

I've gotten past the DNS verification steps. However, once it supposedly finishes installing dependencies, I get the following:

[code]

[2020-08-14 13:05] TheFlipside commented on #84
I have the exact same problem and therefore cannot continue the installation.
I can't believe this is still not fixed after 11 months.

[2020-08-14 16:32] TheFlipside commented on #93
I'm having the same issue and therefore cannot finish the installation.

EDIT:
I was able to workaround the issue by editing **aenigma/functions** and replacing all occurrences of
**https://www.process-one.net/downloads/downloads-action.php?file=/ejabberd/19.05/ejabberd_19.05-0_amd64.deb**
with
**https://www.process-one.net/downloads/downloads-action.php?file=/19.05/ejabberd_19.05-0_amd64.deb**
(t

[2020-08-14 16:40] TheFlipside opened #95 "Error when installing patroni"
On an Ubuntu 18.04 system I ran into errors at the part of installing patroni:

Finished installing PostgreSQL.
Synchronizing state of postgresql.service with SysV service script with /lib/systemd/systemd-sysv-install.
Executing: /lib/systemd/systemd-sysv-install disable postgresql
Collecting patroni
  Using cached https://files.pythonhosted.org/packages/d9/71/f1465e00f5e2d3e4c00c4ef8d80c02e3c31ac

[2020-08-14 17:59] TheFlipside opened #96 "Converse.js installation fails without Tor"
when answering No at the step
**Would you like to provision Tor now? (Y/n):**
then when answering Yes at the step
**Would you like to provision Converse.js now? (Y/n):**
results in the error

**rsync: mkdir "/var/www/onion/xmpp" failed: No such file or directory (2)**
**rsync error: error in file IO (code 11) at main.c(675) [Receiver=3.1.2]**

the installation of Converse.js assumes the existance

[2020-08-14 18:29] TheFlipside commented on #90
I'm having the same issue when trying to register through converse.js

I changed the address in **/opt/ejabberd/conf/ejabberd.yml** and restarted the ejabbered service
and replicated the admin block in **/etc/nginx/conf.d/mydomain.com.conf** as suggested
restarted nginx

but the captcha image which is displayed on the registration site is still not showing content, therefore no registration is pos

[2020-10-30 08:29] solus-hq opened #97 "I assume the project is abandoned now"
@nordurljosahvida I wasn't able to contact you via email thus I'm doing it here and would like to inquire if the project is frozen and not planned to be updated any time soon?

[2020-10-31 10:24] nordurljosahvida commented on #97
Hi @solus-hq ! Yes the project is shutdown, please see shutdown notice on homepage. The future is exciting, look around to the projects linked on the message, and thank you so much for your support in the past. It's been a super cool ride!

[2020-10-31 10:24] #97 closed, assigned to nobody

[2020-10-31 10:25] nordurljosahvida commented on #34
@yegortimoshenko project is shutdown, just in case it's still listed on prism-break. I highly recommend matrix/element for everyone!

[2020-10-31 10:26] #34 closed, assigned to nordurljosahvida

[2022-03-06 16:40] Vladimir7i commented on #48
where is solution? I have the same problem all the time(restart vps is help, but I don't want restart it all the time)